<h1>Edit Your Profile</h1>
<!-- makes new profile -->
<%= form_for Profile.new, url: '/create_profile' do |f| %>
	<%= f.label :alias %>
	<%= f.text_field :user_name %>
	<br>
	<%= f.label :bio %>
	<%= f.text_area :bio %>
	<br>
	<%= f.file_field :image %>
	<br>
	<%= f.submit %>
<% end %>