<h1>Welcome to <%=@current_profile.user_name%>'s profile</h1>
<a href="/add/<%=@current_profile.user_id%>">Friend Me</a>
<h4><%= @email %></h4>
<p><%= @current_profile.bio %></p>
<div><img src ="<%=@current_profile.image%>" width="600px"></div>

<br>
<h4>These are all my friends:</h4>
<br>
	<%= @friends %>

<h2>This is my wall:</h2>
<div id="to_post">
	<h4>This is where people post on my wall</h4>
	<%= form_for Posting.new, url: "/posting/#{@current_profile.id}" do |f| %>
		<%= f.text_area :status_update %>
		<br>
		<%= f.submit :Post%>
	<% end %>
</div>
<div id="posted">
	<h4>This is the posted stuff on my wall</h4>
	<% @all_wall_posts.to_a.each do |post| %>
		<p><%=post.status_update%></p>
		<h6>-<%=post.user_name%></h6>
	<%end%>
</div>


