<div class="container">
<br>
<!-- welcome message -->
<h1>Welcome to <%=@current_profile.user_name%>'s profile</h1>
<!-- friend me link -->
<a href="/add/<%=@current_profile.user_id%>">Friend Me</a>
<!-- email and bio -->
<h4><%= @email %></h4>
<p><%= @current_profile.bio %></p>

<!-- profile pic -->
<div><img id="profilepic" src ="<%=@current_profile.image%>" width="600px"></div>

<br>

<!-- friends -->
<div id="friends">
	<h4>My Friends:</h4>
	<br>
	<p><%@friends.each do |x|%><%=x%><br><%end%></p>
</div>

<br><br><br>

<!-- wall -->
<div id="wall">
	<h2>My Wall:</h2>
	<div id="to_post">
		<%= form_for Posting.new, url: "/posting/#{@current_profile.id}" do |f| %>
			<%= f.text_area :status_update %>
			<br>
			<%= f.submit :Post%>
		<% end %>
	</div>
	<div id="posted">
		<br>
		<h4>Posted:</h4>
		<% @all_wall_posts.to_a.each do |post| %>
			<p><%=post.status_update%></p>
			<h6>-<%=post.user_name%></h6>
			<br>
		<%end%>
	</div>
</div>
</div>


