<h1>Welcome to <%=@current_profile.user_name%>'s profile</h1>
<a href="/add/<%=@current_profile.user_id%>"><%=@current_profile.user_id%>Friend Me</a>
<h4><%= @email %></h4>
<p><%= @current_profile.bio %></p>
<div><img src ="<%=@current_profile.image%>"></div>

<br>
<h4>These are all my friends:</h4>
<br>
<%=@current_user_profile.friends.to_a%>

<div>
	<h2>This is my wall</h2>
</div>


