<!DOCTYPE html>
<html>
<head>
  <title>GA Social Network Assignment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="header" class="">
	<ul>
		<li><a href="/">Home</a></li>
		<% if @current_user %>
			<li>Welcome, <%= @current_user.email%></li>
			<li><a href="/logout">Logout</a></li>
			<li><a href="/profiles">All Users</a></li>
			<h4><a href ="/profile/<%=@current_user.id%>">My profile</a></h4>
		<% else %>
			<li><a href="/login">Login</a></li>
			<li><a href="/new_user">Create Account</a></li>
		<% end %>
	</ul>
</header><!-- /header -->
<%= yield %>

</body>
</html>
